/*input[type=submit]{*/
/*    background-color: #216558;*/
/*}*/
.fa-circle {
    /*font-size: 50px;*/
    color: 	#8B0000;
}

.true {
    /*font-size: 50px;*/
    color: 	darkgreen;
}

.control-pane{
    color: #216558;
    position: fixed;
    height: 100%;
}

.control-pane button{
    /*width: 150px;*/
}
